/* Navigation.css */

.nav-bar {
  background-color: #333;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #575757;
  color: #fff;
  border-radius: 5px;
}
